<footer class="footer">
  <small>
    The <a href="https://guides.rubyonrails.org/getting_started.html">Ruby on Rails Tutorial Guide</a>
    by <a href="https://www.linkedin.com/in/rafagarcia07/">Rafael Garcia</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>